<form (ngSubmit)="onSubmit()">
  <input class="form-control mb-2" type="email" [(ngModel)]="credentials.email" name="email" placeholder="Email" required>
  <input class="form-control mb-2" type="password" [(ngModel)]="credentials.password" name="password" placeholder="Mot de passe" required>
  <button class="btn btn-success" type="submit">Login</button>

  <div *ngIf="success" class="alert alert-success mt-2">{{ success }}</div>
  <div *ngIf="error" class="alert alert-danger mt-2">{{ error }}</div>
</form>
